target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Node deps ##
node_nodules/
